#content-card {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 15px;
    margin-bottom: 20px;
    margin: 13px;
    background-color: #FFFFFF;
    border-radius: 2%;
    color: #212121;
}

#content-card:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);

}

.content-card-preview {
    flex: 1;
    max-width: 400px;
    border: none;
}

.content-card-div {
    background-color: #009688;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    color: #FFFFFF;
    cursor: pointer;
}

.content-card-title {
    margin: 1.5em;
    margin-left: 0;
    font-weight: 600;
}