button, input[type="submit"] {
    padding: 1em;
    color: #FFFFFF;
    background-color: #536DFE;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Roboto', sans-serif;
}

button:hover, input[type="submit"]:hover {
    transform: rotate(360deg);
}