#content {
    position: relative;
    height: 100%;
    top: 3.5em;
    
    transition: 0.5s;
}

#content #semester-and-subject {
    margin-top: 150px;
    margin-left: 30px;
}

#content h2 {
    font-size: 2.5rem;
    line-height: 0;
}

#content h4 {
    font-style: italic;
    color: #3c3c3c;
    line-height: 0;
}

#content select {
    width:  60%;
    height: 50px;
    background-color: #536DFE;
    color: white;
    margin-right: 90px;
    border: none;
    padding: 10px;
}

#content select option {
    width:  60%;
    height: 50px;
    background-color: #536DFE;
    color: white;
    margin-right: 90px;
    border: none;
    padding: 10px;
}

@media(min-width: 700px) {
    #container-of-cards {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}