#sidebar {
    position: absolute;
    /* top: 4.2em; */
    top: 0;
    left: -400px;
    flex: 1;
    background-color: #3F51B5;
    width: 300px;
    height: 100vh;
    color: #FFFFFF;
    overflow-y:auto;
    z-index: 1;
    padding: 0.5em;
    transition: 0.6s;
    padding-top: 80px;
}

#li-title {
    font-weight: bold;
    cursor: pointer;
}

ul {
    margin: 5px 0 19px 0;
    list-style-type: "📅";
}

ul li ul {
    list-style-type: "📚";
}

li {
    margin-top: 20px;
    cursor: pointer;
}

#selected-item {
    font-weight: bold;
    color: #212121;
    cursor: pointer;
}